{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %} HOME {% endblock %}
{% block content%}
    <h1>Received Sensor Data</h1>
    <p>Temperature: {{ temperature }}°C</p>
    <p>Humidity: {{ humidity }}%</p>
    <p>Body Temperature: {{ body_temp }}°C</p>
    <p>Heart Rate: {{ heart_rate }}BPM</p>
    <p>Skin resistance: {{ skin_resistance }}</p>
    <p>Risk: {{ risk }}</p>
    <br>
    <a href="{% url 'sensor:display_data' %}" class="btn-join-group">View Sensor Data</a>
{% endblock  %}